{% extends 'layouts/main.html' %}


{% block content %}

<section class="section">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Title</h3>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <a href="{% url 'paciente:create_documento' %}" class="btn btn-primary">Crear</a>
                    </div>
                </div>
            </h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-lg">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Documento</th>
                            <th>Nro Digitos</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for documento in documentos %}
                            <tr>
                                <td class="text-bold-500">
                                    {{forloop.counter}}
                                </td>
                                <td class="text-bold-500">{{ documento.documento }}</td>
                                <td class="text-bold-500">{{ documento.digitos }}</td>
                                <td class="text-bold-500">{{ documento.estado }}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a href="{% url 'paciente:update_documento' documento.id %}" class="btn btn-warning">Actualizar</a>
                                        <a href="{% url 'paciente:delete_documento' documento.id %}" class="btn btn-danger">Cam. Estado</a>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td class="text-center" colspan="4">
                                    No hay elementos registrados
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}